<div id='about'>
	<div class="media">
      	<div class="media-body">
			<h4 class="text-warning">
				<%= @site.name %>			
			</h4>

			<h5 class="text-warning">
				<i class='glyphicon glyphicon-star'></i>
				<strong><%= @site.confidence %>%</strong> Confidence Index Breakdown
			</h5>

			<div class="info">
				<h5 class="text-muted">
					<i class="octicon octicon-globe"></i>
					Access rank: <%= @site.score.alexa %>
				</h5>
				
				<h5 class="text-muted">
					<i class="octicon octicon-link"></i>
					Google rank: <%= @site.score.google %>
				</h5>

				<h5 class="text-muted">
					<i class="octicon octicon-pulse"></i>
					SEO rank: <%= @site.score.moz %>
				</h5>

				<h5 class="text-muted">
					<i class="octicon octicon-file-text"></i>
					Articles: +<%= @site.articles.length %>
				</h5>

				<h5 class="text-muted">
					<i class="octicon octicon-repo"></i>
					Books: ~<%= @site.score.books %>
			</div>
		</div>
</div>