<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @site.site_url %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @site.feed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @site.confidence %>
</p>

<p>
  <% if can? :update, @site %>
    <%= link_to 'Edit', edit_site_path(@site) %> |
  <% end %>
  <% if can? :destroy, @site %>
    <%= link_to "Destroy", @site, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>
  	<%= link_to 'Back', sites_path %>
</p>

